extends ../html_modules/base.pug
block config
  //- Correct base url pathing for this page
  - var baseUrl = './'
  - var imgDir = baseUrl+'_assets/images/'
  - var lang = 'ja'
  - var ogprefix = "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  - var title = content.Title
  - var description = "こだわり抜いた鶏白湯スープと、職人が仕上げた自家製麺が自慢のラーメン店。絶品の名に恥じぬ一杯を、ぜひご賞味ください。《南草津駅から徒歩7分、国道1号線沿い》"
  - var active = 0

block htmlhead
  title= title
  meta(name='description', content=description)

block opengraph
  meta(property='og:title', content='')
  meta(property='og:type', content='website')
  meta(property='og:url', content='')
  meta(property='og:image', content='https://')
  meta(property='og:description', content=description)

