// link styles

// unvisited link
a:link
  color: #000000

// visited link
a:visited
  color: #000000

// mouse over link
a:hover
  color: $teal_lighten_1

// selected link
a:active
  color: $teal_lighten_1
