$lang-cn = #0078ba
$lang-en = #e5171f
$lang-ko = #009944
_business1 = mediumseagreen
_business2 = seagreen
_business3 = goldenrod
_business4 = darkgoldenrod
_business5 = maroon
_business6 = firebrick
_business7 = darkorange
_business8 = orange
_business9 = violet
_business10 = indigo

#ReportsAppMain
  .card
    @media (min-width:769px)
      height (18*3+3)rem
      overflow-x hidden
      overflow-y auto
    .photoframe-header-main
      padding 1.5rem 1.5rem 0
      margin-bottom 1rem
      border-bottom solid 1px #666
  .tags-block
    text-align right
    .lang, .area, .business
      display inline-block !important
      margin-bottom .5rem

#ReportsAppMenu
  .card
    height 18rem
    overflow-x hidden
    overflow-y auto
    margin-bottom 1.5rem
    .card-heading
      border-bottom: solid 1px #666
#ReportsApp
  .card
    border solid 3px #666
  .lang, .area, .business
    font-size 12px
    padding .25em 1.5em
    border-radius 14.5px
    margin-left .5em
    margin-bottom .5em
    border solid 1px transparent
    position relative

    border-color #999
    color white
    background #999
    &:hover
      background #888
    &:focus
      outline none
  .cn
    border-color $lang-cn !important
    color $lang-cn !important
    background white !important
    &:hover
      background #ddd !important
  .en
    border-color $lang-en !important
    color $lang-en !important
    background white !important
    &:hover
      background #ddd !important
  .ko
    border-color $lang-ko !important
    color $lang-ko !important
    background white !important
    &:hover
      background #ddd !important

  .business1
    border-color _business1 !important
    background _business1 !important
    color white !important
    &:hover, &:focus
      background lighten(_business1, 10%) !important

  .business2
    border-color _business2 !important
    background _business2 !important
    color white !important
    &:hover, &:focus
      background lighten(_business2, 10%) !important

  .business3
    border-color _business3 !important
    background _business3 !important
    color white !important
    &:hover, &:focus
      background lighten(_business3, 10%) !important

  .business4
    border-color _business4 !important
    background _business4 !important
    color white !important
    &:hover, &:focus
      background lighten(_business4, 10%) !important

  .business5
    border-color _business5 !important
    background _business5 !important
    color white !important
    &:hover, &:focus
      background lighten(_business5, 10%) !important

  .business6
    border-color _business6 !important
    background _business6 !important
    color white !important
    &:hover, &:focus
      background lighten(_business6, 10%) !important

  .business7
    border-color _business7 !important
    background _business7 !important
    color white !important
    &:hover, &:focus
      background lighten(_business7, 10%) !important

  .business8
    border-color _business8 !important
    background _business8 !important
    color white !important
    &:hover, &:focus
      background lighten(_business8, 10%) !important

  .business9
    border-color _business9 !important
    background _business9 !important
    color white !important
    &:hover, &:focus
      background lighten(_business9, 10%) !important

  .business10
    border-color _business10 !important
    background _business10 !important
    color white !important
    &:hover, &:focus
      background lighten(_business10, 10%) !important

  .cn:after
    content '中国語'
  .en:after
    content '英　語'
  .ko:after
    content '韓国語'
  .kanto:after
    content '関　東'
  .kansai:after
    content '関　西'
  .hokkai:after
    content '北海道'
  .tohoku:after
    content '東　北'
  .koshin:after
    content '甲信越'
  .tokai:after
    content '東　海'
  .hokuriku:after
    content '北　陸'
  .shikoku:after
    content '四　国'
  .chugoku:after
    content '中　国'
  .kyushu:after
    content '九　州'
  .okinawa:after
    content '沖　縄'
  .business1:after
    content '小売 ジュエリー'
  .business2:after
    content '小売 化粧品'
  .business3:after
    content 'ホテル'
  .business4:after
    content 'レンタカー'
  .business5:after
    content '銀行'
  .business6:after
    content 'サービス'
  .business7:after
    content '業種7'
  .business8:after
    content '病院'
  .business9:after
    content '鉄道'
  .business10:after
    content '業種１０'
