body, table, p, ul, ol
  font-family "Noto Sans Japanese"
  font-weight 300
  line-height 1.6
  text-align justify
  color #666
  @media (min-width:769px)
    font-size 1.25vw
  @media (max-width:768px)
    font-size 2.4vw
  @media (max-width:479px)
    font-size 2.4vh

.is-small, small
  font-size: 75% !important
.is-medium
  font-size: 125% !important
.is-large
  font-size: 150% !important

.mincho
  font-family serif !important

h1, .h1
  font-size 180%
  margin-bottom 1.6em

h2, .h2
  font-size 160%
  margin-bottom 1.6em
  .h2_logo
    width 2em
    height 2em
    vertical-align -0.5em
    margin-right 0.5em

h3, .h3
  font-size 140%
  margin-bottom (1.6*1.6)em

h4, .h4
  font-size 130%
  margin-bottom 1.4em
  
h5, .h5
  font-size 120%
  margin-bottom 1.2em

.panel, #ReportsApp .card-content
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6
    margin-bottom 0
    line-height 1.6

h6, .h6, p
  margin-bottom 1em

.font-weight-100
  font-weight: 100
.font-weight-200
  font-weight: 200
.font-weight-300
  font-weight: 300
.font-weight-400
  font-weight: 400
.font-weight-500
  font-weight: 500
.font-weight-600
  font-weight: 600
.font-weight-700
  font-weight: 700
.font-weight-800
  font-weight: 800
.font-weight-900
  font-weight: 900
