// Import Modules
// @import '../../node_modules/materialize-css/dist/css/materialize.css';

// nav
//   background: white;
//   box-shadow: inherit;
//   height: inherit;
//   line-height: inherit;
@import '../../node_modules/purecss/build/pure.css';
@import '../../node_modules/purecss/build/grids-responsive.css';

.pure-img
  margin 0 auto

.is-mobile
  @media (min-width:1024px)
    display none

.is-desktop
  @media (max-width:1023px)
    display none

.is-relative
  position relative

.is-absolute
  position absolute

.is-fixed
  position fixed

.brand
  // left 0
  margin 0 auto
  width 100%
  height 0
  @media(max-width:980px)
    padding-bottom (20000/1960)%
  @media(min-width:981px)
    padding-bottom (16000/2560)%
  .is-fixed
    z-index 100
    background white
  // max-width 980px
  ul
    padding 0
    padding-bottom (10000/980)% 
    height 0
    list-style none
    overflow hidden
    // bottom 0
    @media(max-width:479px)
      width 65%
      right 2.5%
      top 1vw
    @media(min-width:480px) and (max-width:1023px)
      width 65%
      right 1.5vw
      top 2vw
    @media(min-width:1024px)
      width 60%
      max-width (980*0.6)px
      right 10%
      top calc((100vw-980px)/45)
    li
      float:right
      @media(max-width:479px)
        padding 2px 8px
      @media(min-width:480px) and (max-width:1023px)
        padding 6px 12px 0
      @media(min-width:1024px)
        padding 4px 16px
      a
        &:hover
          img
            opacity 0.5
        img
          @media (max-width:1023px)
            height 2vw
            // max-height 6px
          @media (min-width:1024px)
            height 16px

.logo
  margin 0 auto
  width 100%
  max-width 980px
  .is-absolute
    bottom -100%
    z-index -1

#Access
  .google-map-container
    margin 0 auto
    overflow hidden
    @media (min-width:1024px)
      width 60%
      padding-bottom 64vw
    @media (max-width:1023px)
      width 80%
      padding-bottom 112vw
    .iframe-container
      width 100%
      z-index 10
      @media (min-width:1024px)
        padding-bottom 24vw
        top 12vw
      @media (max-width:1023px)
        padding-bottom 30vw
        top 15vw
      .iframe
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        z-index 10
    .is-desktop
      z-index 10
      top 0
      margin 0 -20vw
      width 100vw
      height 0
    .is-mobile
      z-index 10
      top 0
      width 100%
      height 0

.fb-plugin, .tw-plugin
  padding 2vw
  // overflow-y scroll
  .iframe-container
    margin 0 auto
    width 100%
    @media(max-width:414px)
      max-width 276px
    position relative
    @media (min-width:1024px)
      padding-bottom 40vw
    @media (max-width:1023px)
      padding-bottom 80vw
    .iframe
      overflow hidden
      position absolute
      width 100%
      height 100%
      padding 0
      .twitter-timeline
        width 100%
        height 100%
      iframe
        width 100%
        height 100%
        // background #ddd
      .fb-page
        @media(min-width:768px)
          transform scale(1.275)
          transform-origin 0 0
        @media(min-width:1024px)
          transform scale(1.6)
          transform-origin 0 0


.insta-plugin
  margin 0 auto
  padding 2%
  width 96%
  @media(max-width:414px)
    max-width 276px
  .iframe-container
    position relative
    padding-bottom 40vw
    // background #ddd
    overflow hidden
    .iframe
      position absolute
      width 100%
      height 100%
      @media(max-width:320px)
        transform scale(0.9)
        transform-origin 0 0

  .insta-logo
    // padding-bottom 10px

section
  // padding-bottom 50vw
  width 100%
  max-width 1000px
  @media (max-width:320px)
    max-width 288px
  margin 0 auto
  // padding-bottom 10vw

.bg-texture
  background: url('../images/MaruhideAccessBG.png');
  background-size 50%

img[src$="MaruhideClosed.jpg"]
  margin-top:5vw;
  margin-bottom:5vw;
  @media(min-width:769px)
    margin-top:30px;
    margin-bottom:30px;