-
  var data = {
    "ja": {
      "Name": "日本語",
      "ComNameJa": "株式会社インデンスタイル",
      "ComNameEn": "INDEN Style, Inc",
      "Title": "鶏白湯 京都ラーメン まるひで商店",
      "Contacts": [
        {
          "content": "075-256-5559",
          "img": "main-common-tel.png",
          "link": "tel:+81752565557"
        }, {
          "content": "資料請求",
          "img": "main-common-doc.png",
          "link": "https://inden.smktg.jp/public/application/add/33"
        }, {
          "content": "お問い合わせ",
          "img": "main-common-contact.png",
          "link": "https://inden.smktg.jp/public/application/add/34"
        }, 
      ],
      "PContacts": [
        {
          "content": "075-256-5559",
          "img": "main-common-tel.png",
          "link": "tel:+81752565557"
        }, {
          "content": "資料請求",
          "img": "main-common-doc2.png",
          "link": "https://inden.smktg.jp/public/application/add/63"
        }, {
          "content": "お問い合わせ",
          "img": "main-common-contact.png",
          "link": "https://inden.smktg.jp/public/application/add/34"
        }, 
      ],
      "FooterTabs": [
        {
          "content": "Home",
          "link": "./"
        }, {
          "content": "導入事例",
          "link": "example.html"
        }, {
          "content": "料金",
          "link": "price.html"
        }, {
          "content": "使い方レポート",
          "link": "report.html"
        }, {
          "content": "よくあるご質問",
          "link": "faq.html"
        }, {
          "content": "会社概要",
          "link": "company.html"
        }, {
          "content": "代理店募集",
          "link": "partner.html"
        // }, {
        //   "content": "サイトマップ",
        //   "link": "main/sitemap.html"
        }, {
          "content": "プライバシーポリシー",
          "link": "privacy.html"
        }, {
          "content": "お問い合わせ",
          "link": "https://inden.smktg.jp/public/application/add/34"
        },
      ],
      "Pages": [
        {
          "content": "導入事例",
          "link": "example.html"
        }, {
          "content": "料金",
          "link": "price.html"
        }, {
          "content": "使い方レポート",
          "link": "report.html"
        }, {
          "content": "よくあるご質問",
          "link": "faq.html"
        }, {
          "content": "会社概要",
          "link": "company.html"
        }, {
          "content": "代理店募集",
          "link": "partner.html"
        // }, {
        //   "content": "サイトマップ",
        //   "link": "main/sitemap.html"
        }, {
          "content": "プライバシーポリシー",
          "link": "privacy.html"
        }, {
          "content": "お問い合わせ",
          "link": "https://inden.smktg.jp/public/application/add/34"
        },
      ],
      "h2_logo":"",
      "TextContents": {
        "headerH1": "iPhone・iPadを<br class='is-hidden-tablet'>利用した<br>テレビ電話型<br class='is-hidden-tablet'>通訳サービス",
        "headerP": "iPhone・iPadのビデオチャット機能を利用して、リアルタイムで通訳を行います。英語・中国語・韓国語・スペイン語・ポルトガル語の5言語を、24時間365日、いつでもどこでも通訳します。",
        "sec3H": "SMILE CALL（スマイルコール）とは？",
        "sec3P": "iPhone・iPadのビデオチャット機能を利用して、人と人とが実際に顔を合わせながら通訳を行うサービスです。",
        "sec4H": "簡単2ステップでご利用いただけます！",
        "sec5H": "テレビでお取りあげいただきました！",
        "sec5P": "テレビ東京「モーニングチャージ！」（毎週月曜～金曜、朝6時40分～）でSMILE CALL（スマイルコール）が特集されました！",
        "sec6H": "SMILE CALL（スマイルコール）3つのメリット",
        "sec7H": "SMILE CALL（スマイルコール）5つの強み",
        "features": [{
            "Header": "接続率95%以上、<br>通話開始まで10秒以内を保証！",
            "P": "Ad aliqua in est commodo quis nisi. Amet sunt proident officia ad mollit ex nisi. Culpa fugiat anim ea nulla eu consequat quis nostrud id id dolor. Excepteur duis sit do nulla irure nulla culpa est non proident enim sint voluptate."
          },
          {
            "Header": "コールセンターは国内のみ！<br>5拠点確保で安心の複数体制！",
            "P": "Ad aliqua in est commodo quis nisi. Amet sunt proident officia ad mollit ex nisi. Culpa fugiat anim ea nulla eu consequat quis nostrud id id dolor. Excepteur duis sit do nulla irure nulla culpa est non proident enim sint voluptate. Nisi esse qui esse ad ad est ex ullamco laboris enim dolor ad qui id."
          },
          {
            "Header": "通話の度にオペレータを採点！<br>レベルの高いスタッフのみを起用！",
            "P": "Ad aliqua in est commodo quis nisi. Amet sunt proident officia ad mollit ex nisi. Culpa fugiat anim ea nulla eu consequat quis nostrud id id dolor. Excepteur duis sit do nulla irure nulla culpa est non proident enim sint voluptate. Nisi esse qui esse ad ad est ex ullamco laboris enim dolor ad qui id. Aliquip est sit aliqua anim."
          },
          {
            "Header": "導入企業は500社以上！<br>2012年からの実績ある業界老舗サービス！",
            "P": "Ad aliqua in est commodo quis nisi. Amet sunt proident officia ad mollit ex nisi. Culpa fugiat anim ea nulla eu consequat quis nostrud id id dolor. Excepteur duis sit do nulla irure nulla culpa est non proident enim sint voluptate. Nisi esse qui esse ad ad est ex ullamco laboris enim dolor ad qui id. Aliquip est sit aliqua anim."
          },
          {
            "Header": "通話内容がデータで残る！<br>まとまったレポートでアフターフォロー！",
            "P": "Ad aliqua in est commodo quis nisi. Amet sunt proident officia ad mollit ex nisi. Culpa fugiat anim ea nulla eu consequat quis nostrud id id dolor. Excepteur duis sit do nulla irure nulla culpa est non proident enim sint voluptate. Nisi esse qui esse ad ad est ex ullamco laboris enim dolor ad qui id. Aliquip est sit aliqua anim."
          },
        ],
      },
      "Examples": {
        "J": "2012年1月のサービス開始以来、業種・業界を問わず、様々な企業様にご導入いただいてきました。導入企業様の生の声をご紹介します。",
        "coms": [
          {
            "comName" : "株式会社福屋",
            "tag": "小売業",
            "area":"中国",
            "num": 11,
            "image": "main-example-11-fukuya-photo.jpg",
            "img": "main-example-11-fukuya-photo.jpg",
            "logo": "main-example-11-fukuya-logo.png",
            "text": "イレギュラーな対応のための「保険」として導入",
            //- 会社名
            //- 本店
            "comAddress" : "住所：〒730-8548 広島市中区胡町6-26 ",
            //- 会社コメント
            "comComment" : "1929年8月に広島初となる百貨店を創業して以来、戦争の影響で一時は店舗を失いながらも88年間にわたって百貨店を経営し続けている株式会社福屋。“皆様の福屋”をモットーにお客様の幸福に寄与し続ける百貨店であることを理念に掲げ、時代に合わせて常に変化し続けながら、百貨店を展開している。",
            //- 事業内容
            "comBusiness" : "百貨店",
            //- 資本金
            "comCapital" : "４億6,000万円",
            //- 代表取締役
            "comDaihyo" : "大下　洋嗣",
            //- 従業員数
            "comEmployee" : "920名　※2016年1月現在",
            //- 担当者部署
            "personTitle" : "営業本部",
            //- 担当者名
            "personName" : "奥田&nbsp;穣",
            //- 業態
            "business" : '百貨店',
            //- 利用プラン
            "plan" : "",
            //- 設置場所
            "place" : "免税カウンター",
            //- 主な利用用途
            "purpose" : "免税対応に於けるトラブル時など",
            //- 記事作成日
            "docDate" : "2017/1/17",
          }, {
            "comName": "オリックスレンタカー札幌駅前店",
            "tag": "サービス業",
            "area":"北海道",
            "num": 10,
            "image": "main-example-10-orixauto-photo.jpg",
            "logo": "main-example-10-orixauto-logo.png",
            "text": "訪日外国人観光客の利用が増加することに備えるために導入",
          }, {
            "comName": "株式会社白洋舎",
            "tag": "サービス業",
            "area": "関東",
            "num": 9,
            "image": "main-example-09-hakuyosha-photo.jpg",
            "logo": "main-example-09-hakuyosha-logo.png",
            "text": "クリーニングの細かなニーズにこたえるために導入を決断",
          }, {
            "comName": "プリモ・ジャパン株式会社",
            "tag": "小売業",
            "area": "関東",
            "num": 8,
            "image": "main-example-08-primo-photo.jpg",
            "logo": "main-example-08-primo-logo.png",
            "text": "SMILE CALLを利用して外国人から初の売上を獲得",
          }, {
            "comName": "ホテルモントレ ラ・スール福岡",
            "tag": "ホテル",
            "area": "九州",
            "num": 7,
            "image": "main-example-07-monterey-photo.jpg",
            "logo": "main-example-07-monterey-logo.png",
            "text": "英語以外の言語を話せないお客様の接客対応のために導入",
          }, {
            "comName": "康生会 武田病院",
            "tag": "病院",
            "area": "関西",
            "num": 6,
            "image": "main-example-06-takedahp-photo.jpg",
            "logo": "main-example-06-takedahp-logo.png",
            "text": "増え続ける外国人観光客の来院対応を強化するために導入",
          }, {
            "comName": "アキバキャビン株式会社",
            "tag": "ホテル",
            "area": "関東",
            "num": 5,
            "image": "main-example-05-akibacabin-photo.jpg",
            "logo": "main-example-05-akibacabin-logo.png",
            "text": "24時間体制で質の高いサービスを提供するため導入を決断",
          }, {
            "comName": "琉球村（うえちグループ）",
            "tag": "レジャー施設",
            "area": "沖縄",
            "num": 4,
            "image": "main-example-04-ryukyu-photo.jpg",
            "logo": "main-example-04-ryukyu-logo.png",
            "text": "観光産業の人材不足に加え、言語対応の必要性を感じ導入",
          }, {
            "comName": "ホテルサンルート大阪なんば",
            "tag": "ホテル",
            "area": "関西",
            "num": 3,
            "image": "main-example-03-sunroute-photo.jpg",
            "logo": "main-example-03-sunroute-logo.png",
            "text": "スタッフが手薄な中国語・韓国語の体制を強化するため導入",
          }, {
            "comName": "天然温泉 なにわの湯",
            "tag": "レジャー施設",
            "area": "関西",
            "num": 2,
            "image": "main-example-02-naniwanoyu-photo.jpg",
            "logo": "main-example-02-naniwanoyu-logo.png",
            "text": "語弊を生みやすい「禁止」のニュアンスを柔らかく伝えるため活用",
          }, {
            "comName": "エムケイ株式会社",
            "tag": "交通・タクシー",
            "area": "関西",
            "num": 1,
            "image": "main-example-01-mk-photo.jpg",
            "logo": "main-example-01-mk-logo.png",
            "text": "英語を話せない中国・台湾からのお客様ニーズに応えるため導入",
          },
        ],
        "K": " 他にも数多くの企業様にご導入いただいております。"
      },
      "price": {
        "L": [
          "※ご利用にはインターネット接続が必要です。インターネット接続環境は別途ご用意ください。",
          "※ご利用端末は別途ご用意ください。",
          "※価格は全て税別価格です。",
          "※本サービスは、犯罪行為、条約、法令等に違反するおそれのある場合など、お客様の承諾を得ることなくサービスの提供を中断・停止する場合があります。詳しくは、利用規約をご覧下さい。",
        ],
        "M": "導入の店舗数に応じて、特別プランをご準備できます。お気軽にお問い合わせください。",
      },
      "reports": {
        "H": "使い方レポート",
        "P": "インバウンド対応の現場でお使いいただけるレポート・資料を無料でダウンロードいただけます。",
        "repos": [
          {
            "H": "観光先進国」を目指して、政府が掲げる9つの改革（前編）",
            "P": "政府発表資料から日本のインバウンドのこれからを読み解きます。",
            "link": "https://inden.smktg.jp/public/application/add/71",
          }, {
            "H": "7業種会話集 ～インバウンドで本当に困った会話シーン～",
            "P": "ホテル・小売店など7業種の通訳記録から活用方法をご紹介します。",
            "link": "https://inden.smktg.jp/public/application/add/67",
          }, {
            "H": "「爆買い」後の中国人消費行動とインバウンドの現状",
            "P": "インバウンドは終わらない！中国人をターゲットにするノウハウを紹介。",
            "link": "https://inden.smktg.jp/public/application/add/62",
          }, {
            "H": "2020年までのインバウンド市場を見通す5つの視点",
            "P": "「観光白書2015」から訪日旅行者数1974万人を読み解く（全9ページ）",
            "link": "https://inden.smktg.jp/public/application/add/43",
          }, {
            "H": "これを中国語で言えますか？現場頻出のフレーズ集【病院編】",
            "P": "病院スタッフ必見！通訳記録から現場頻出フレーズをご紹介",
            "link": "https://inden.smktg.jp/public/application/add/56",
          }, {
            "H": "これを中国語で言えますか？現場頻出のフレーズ集【小売編】",
            "P": "通訳記録から現場頻出フレーズをご紹介。小売店におススメ！",
            "link": "https://inden.smktg.jp/public/application/add/57",
          }, {
            "H": "これを中国語で言えますか？現場頻出のフレーズ集【ホテル編】",
            "P": "通訳記録から分析。フロントスタッフ必携のフレーズ集！",
            "link": "https://inden.smktg.jp/public/application/add/58",
          },
        ]
      },
      "faq": {
        "H": "よくあるご質問",
        "FAQ": [
          {
            "Genre": "サービス全般",
            "label": "faqGeneral",
            "QA": [
              {
                "id": "FAQG",
                "Q": "外国語の翻訳アプリとの違いは何ですか",
                "A": "実際の人（通訳者）が画面上に出てきて、リアルタイムで通訳を行うため、表情やニュアンスを含むコミュニケーションが可能となります。また、手元の資料や地図、看板を見ながらの通訳も可能なため、円滑なコミュニケーションを取ることが可能になります。"
              }, {
                "id": "FAQG",
                "Q": "外国語スタッフを雇用するのと、どのような違いがありますか。",
                "A": "金額面で大きな差があります。実際のスタッフを雇用すると、1日あたり数万円以上のコストかかります。当サービスであれば、必要な時だけ呼び出せ、料金も安価なため気軽にご利用いただけます。"
              }, {
                "id": "FAQG",
                "Q": "利用端末の準備は行っていただけますか",
                "A": "お客様でのご準備が必要となります。iOS 6.1.6以降、iPhone4・iPad2・iPodTouch(4G)、またはこれ以降の機種をご準備ください。対応端末の詳細についてはお問い合わせください。"
              }, {
                "id": "FAQG",
                "Q": "端末の購入やWi－Fiの工事を依頼することは可能でしょうか",
                "A": "端末のリースやWi－Fi工事の対応が可能な事業者を紹介することは可能です。お気軽にご相談ください。"
              }, {
                "id": "FAQG",
                "Q": "1端末の契約で対応している言語すべての利用が可能でしょうか。",
                "A": "可能です。現状対応できる言語すべてご利用頂けます。"
              }, {
                "id": "FAQG",
                "Q": "サービスを受けるときはどこへ電話を掛けるのですか？",
                "A": "電話で使用する電話回線ではなく、インターネット回線でパケット通信を利用します。専用アプリケーションからの通話発信を行います。アプリケーションを起動してご利用の言語をお選びください。FaceTimeがプリインストールされたデバイス（iPhone4, iPad2, iPodTouch(4G)、またはこれ以降の機種、対応OSiOS 6.1.6以降（10.0.2までサポート））が必要です。またFaceTimeをご利用いただける環境を準備していただく必要がございます。FaceTimeについてはこちら（アップル社サポートサイト）をご参照ください。"
              }, {
                "id": "FAQG",
                "Q": "グループのお客様の通訳をして欲しいのですが",
                "A": "ご利用のスマートフォン・タブレット端末のカメラやマイクで通話可能な範囲であれば、一度に何名様でもご利用可能です。"
              }, {
                "id": "FAQG",
                "Q": "海外からでも使えますか？",
                "A": "インターネットがご利用できる環境であれば、日本国内・国外を問わずどこでもご利用可能です。※4G(LTE)または、Wi-Fi環境でご利用を推奨します。3Gの携帯電話回線では充分な通信速度が得られない場合がございますので、ご利用を推奨いたしません。"
              }, {
                "id": "FAQG",
                "Q": "どんな業種・業態で使えますか?",
                "A": "ホテル・旅館などの宿泊施設、病院・薬局、各種飲食業、ヘアサロンやエステなどのサービス業、化粧品やジュエリー、アパレルなどの小売業など、外国人が多く訪れるさまざま業種・業態などで多岐にご活用していただけます。"
              }, {
                "id": "FAQG",
                "Q": "専門性を有する通訳は対応できますか？",
                "A": "専門の知識を要する商取引や法律・医療相談などにはご利用いただけません。日常会話程度の通訳を想定しています。詳しくはご利用規約をご確認ください。"
              }, {
                "id": "FAQG",
                "Q": "IT機器の使い方がよく分からず不安です。",
                "A": "簡単操作で、初めての方でもご利用いただきやすい仕様となっておりますので、ご安心ください。初期設定や導入後のサポートに関しては、当社サポート担当がしっかりとフォローさせていただきます。"
              },
            ],
          },
          {
            "Genre": "アプリケーション／端末",
            "label": "faqApp",
            "QA": [
              {
                "id": "FAQA",
                "Q": "アプリケーションはどこから手に入りますか？",
                "A": "ご契約いただいたお客様にアプリケーションのインストールURLを別途メールでご案内しております。App StoreやGoogle Play ストアからはダウンロードいただけませんので、ご注意ください。"
              }, {
                "id": "FAQA",
                "Q": "対応端末を教えてください",
                "A": "iOS 6.1.6以降、iPhone4・iPad2・iPodTouch(4G)、またはこれ以降の機種になります。対応端末の詳細についてはお問い合わせください。"
              }, {
                "id": "FAQA",
                "Q": "通信環境はWi－Fi接続が必須でしょうか",
                "A": "安定した通信のために、Wi-Fi環境か4G(LTE)回線を推奨しています。"
              }, {
                "id": "FAQA",
                "Q": "周囲に声を聞かれたくないのですが",
                "A": "ご利用のスマートフォン・タブレット端末に付属のイヤホンマイクをご利用ください。"
              }, {
                "id": "FAQA",
                "Q": "周囲が騒々しく、声が聞き取りにくいのですが・・・",
                "A": "ご利用のスマートフォン・タブレット端末に付属のイヤホンマイクをご利用ください。また、別売りのスピーカーのご利用をご検討ください。"
              },
            ],
          }, {
            "Genre": "料金／契約",
            "label": "faqPlan",
            "QA": [
              {
                "id": "FAQP",
                "Q": "2台以上契約する場合の料金はどうなりますか。",
                "A": "1端末あたり1契約になります。2台契約される場合は、2台分料金をお支払いいただきます。"
              }, {
                "id": "FAQP",
                "Q": "初期費用の内訳を教えてください",
                "A": "通話の分数や会話内容を記録するサーバーの構築費用になります。サービス開始から全ての通訳記録を保存することで、お客様へのマーケティングデータの提供が可能になります。"
              }, {
                "id": "FAQP",
                "Q": "費用の支払い方法を教えてください",
              }, {
                "id": "FAQP",
                "Q": "利用開始月の月額費用は日割りでの支払でしょうか",
              }, {
                "id": "FAQP",
                "Q": "利用料金以外に、通話料金はかかりますか？",
                "A": "電話で使用する電話回線ではなく、インターネット回線でパケット通信を利用するため、通話料金はかかりません。"
              },
            ],
          }, {
            "Genre": "各種手続き",
            "label": "faqProcedure",
            "QA": [
              {
                "id": "FAQPr",
                "Q": "申込をしたいのですが、どちらから申し込めばよいでしょうか。",
                "A": "お問い合わせフォーム、または下記の電話番号よりご連絡ください。<br>株式会社インデンコンサルティング　　TEL: 075-256-5559<br>※SMILE CALL（スマイルコール）のWEBサイトを見てご連絡いただいたことをお伝えください。"
              }, {
                "id": "FAQPr",
                "Q": "申し込みからサービスの開始までの期間はどのくらいですか?",
                "A": "WEBフォームよりお申し込みいただいた場合は、最短で3日後（弊社営業日）よりご利用いただけます。紙でのお申し込みの場合、お申し込みの7日後がサービス開始日（ご契約成立日）です。"
              }, {
                "id": "FAQPr",
                "Q": "契約期間を延長するには？",
                "A": "契約期間はサービス開始日（契約日）より1年間です。特にお手続きいただく必要なく自動更新いたしますので、引き続きそのままご利用いただけます。"
              }, {
                "id": "FAQPr",
                "Q": "解約するには？",
                "A": "ご解約される際は、システムの管理上、ご契約期間満了の3ヶ月前までに導入時の担当者までお申し出ください。"
              },
            ],
          }, {
            "Genre": "製品サポート",
            "label": "faqSupport",
            "QA": [
              {
                "id": "FAQS",
                "Q": "SMILE CALL（スマイルコール）が使えなくなりました。",
                "A": "以下の手順に従って、動作環境のチェックをしてください。１．インターネット接続の状況をご確認下さい。２．FaceTimeのサインイン状態をご確認下さい。３．テストコールを行って下さい。※分からない場合は、お手数ですが、サポート担当までお電話ください（075-256-5559）※上記の手順をお試しいただいても接続できない場合は、アプリケーションの再インストールが必要です。お手数ですが、サポート担当までお電話ください（075-256-5559）"
              }, {
                "id": "FAQS",
                "Q": "アプリケーションがうまく動かないのですが",
                "A": "右上の「ヘルプ」ボタンから、ヘルプページをご参照いただけます。FaceTimeがプリインストールされたデバイス （iOS 6.1.6以降、iPhone4・iPad2・iPodTouch(4G)、またはこれ以降の機種）が必要です。 またFaceTimeをご利用いただける環境を準備していただく必要がございます。 FaceTimeについてはこちら（アップル社サポートサイト）をご参照ください。"
              }, {
                "id": "FAQS",
                "Q": "端末がうまく動かない、フリーズする、反応しないのですが",
                "A": "こちらのアップル社サポートサイトをご参照ください。"
              }, {
                "id": "FAQS",
                "Q": "利用できる端末を無くしてしまいました。",
                "A": "ご利用いただくには、代替端末にアプリケーションを再設定する必要がございます。お電話またはお問い合わせフォームで弊社までお問い合わせください。"
              }
            ],
          },
        ],
      },
      "company": {
        "H": "代表挨拶",
        "imgalt": "「観光先進国」に向けた新たな国づくりのために、京都発信の企業として",
        "P": ["株式会社インデンコンサルティングは、2012年1月、日本全国にインバウンドの波が到達する前に、世界一の観光都市『京都』から、いち早く日本の国際化の波を感じ取り、iPhone、iPadを使った通訳サービス「SMILE CALL（スマイルコール）®」の提供を開始しました。",
          "そして、サービス開始から約5年後の2016年に、訪日外国人旅行者数は、当初2020年目標とされていた2000万人を、暦年で初めて突破し、今なお訪日観光需要は、堅調に拡大を続けています。",
          "そうした市場の拡大を受けて、政府は、2016年3月、今後の観光政策の中長期的な方針となる「明日の日本を支える観光ビジョン」の中で、訪日外国人旅行者数2020年4000万人、訪日外国人旅行消費額2020年8兆円等の新たな目標を掲げ、観光産業を我が国の基幹産業とするため、60年以上経過した観光に関わる古い規制・制度を抜本的に見直すとしました。",
          "人口減によって、国内マーケットは確実に縮小していきます。しかし、その一方で、日本には世界に誇れる魅力的な歴史・食・伝統・文化があり、そうした海外からの人気を基盤とするインバウンド市場は、今後ますます注目を集めると考えられます。我々は、このSMILE CALL（スマイルコール）®というサービスを皮切りに、インバウンド領域における企業の総合支援を目指します。そして、インバウンドを通じて、国内企業、日本経済の活性化を目指します。インバウンド需要が一過性のブームで終わることなく、日本の基幹産業として、これからの日本を支える産業となれるよう、力を尽くしてまいりたいと思います。",
          "株式会社インデンコンサルティング<br>代表取締役社長　黒松高弘",
        ],
        "Q": "会社概要",
        "comData": {
          "会社名": "株式会社インデンコンサルティング",
          "事業内容": "インバウンド総合支援、システム開発販売、広告代理店",
          "代表者": "代表取締役社長　黒松高弘",
          "設立": "2009年7月設立(グループ創業2000年12月)",
          "URL": "<a href='https://www.inden.ne.jp'  target='_blank'>https://www.inden.ne.jp（インデングループ）</a>",
          "資本金": "3,000万円（グループ連結で7,900万円）",
          "本　社": "〒604-8165 京都府京都市中京区烏帽子屋町502"
        },
        "maps": {
          "[東京本部]": {
            "addr": "〒105-0022 港区海岸1-2-20 汐留ビルディング3F",
            "url": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8175035415443!2d139.7572259002301!3d35.656867688819226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bc597f1d07b%3A0xee4872f5a2e303bb!2z44CSMTA1LTAwMjIg5p2x5Lqs6YO95riv5Yy65rW35bK477yR5LiB55uu77yS4oiS77yS77yQIOaxkOeVmeODk-ODq-ODh-OCo-ODs-OCsA!5e0!3m2!1sja!2sjp!4v1451290672130",
          },
          "[京都本部]": {
            "addr": "〒604-8166 京都市中京区三条通烏丸西入御倉町85−1 KDX烏丸ビル 4F",
            "url": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3267.9156845774914!2d135.75925920000006!3d35.00881570000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001088502ed8d71%3A0x7ee296c172e68a6d!2z44Kk44Oz44OH44Oz44Kw44Or44O844OXIOS6rOmDveWWtualreacrOmDqA!5e0!3m2!1sja!2sjp!4v1437033948103",
          },
        }
      },
      "partners": {
        "navs":[
          {
            "content": "代理店インタビュー",
            "link": "#PartnersInterview",
          }, {
            "content": "代理店説明会",
            "link": "./seminar/",
          }, {
            "content": "会社概要",
            "link": "company.html",
          }, {
            "content": "製品ページ",
            "link": "./",
          }
        ],
        "R": "SMILE CALL<br class='is-hidden-tablet'>（スマイルコール）<br>販売代理店に<br class='is-hidden-tablet'>なりませんか。",
        "RP": "日経新聞やテレビでも特集された話題沸騰のインバウンド商材！通訳サービス『スマイルコール』の販売代理店を募集しています。",
        "SH": "SMILE CALL（スマイルコール）販売代理店契約のメリット",
        "SP": "全国どこでもニーズのあるインバウンド商材をお取り扱いいただけます。これにより、お客様へのアプローチがしやすくなるなど、セールスの現場において様々な可能性が広がります。",
        "Merits": [
          {
            "H": "注目のインバウンド<br>（訪日外国人）商材",
            "P": "2020年に向けて政府が最も注力しているのが観光産業です。毎年1.5倍以上のペースで成長を続けるインバウンド市場においてサービスが提供できます。"
          },
          {
            "H": "仕入れ在庫不要",
            "P": "コールセンターシステムは構築済みのものをご提供。無店舗・無形サービスのため、代理店様は在庫リスクを負うことなく、販売活動が可能です。"
          },
          {
            "H": "充実の営業フォロー<br>＆サポート体制",
            "P": "契約後は月に1回、フォローアップ勉強会を開催。営業資料は一式無料提供しており、請求などのバックオフィス業務も全て弊社が負担します。"
          },
        ],
        "WH": "代理店インタビュー",
        "WP": "SMILE CALL（スマイルコール）の販売代理店としてご契約いただいた企業様へ行った、販売代理店をご検討されている皆さまに向けてのインタビューを紹介しております。",
        "itvH": "一億人を対象とした商品・サービスを提供する。<br>株式会社アンビションがインバンド事業を始めた理由。",
        "itvP": "株式会社アンビション　代表取締役　浜原正豊氏",
        "link": "../_assets/img/SMILECALL_agency_2016-12-03.pdf",
        "WWH": "サービス導入事例",
        "XH": "契約フロー",
        "XP": [
          {
            "LI": "【1】<br>1次面談<br><small class='white-text has-text-centered'>（セミナーor個別）</small>",
            "P": "お問い合わせの上、ご予約ください。"
          }, {
            "LI": "【2】<br>2次面談",
            "P": "1次面談後、契約をご検討される企業様とは、弊社代表も交えて、条件などに関して、複数回面談を実施させていただきます。"
          }, {
            "LI": "【3】<br>審査",
            "P": "契約書や登記簿謄本などをご準備いただき、最終の審査を行います。"
          }, {
            "LI": "【4】<br>ご契約",
            "P": "契約を締結。その後は営業活動開始に向けてフォローアップをさせていただきます。"
          },
        ],
        "Y": "よくあるご質問",
        "FAQ": [
          {
            "iD":"faqPrice",
            "Q": "販売手数料などの条件を詳しく教えていただけますか",
            "A": "詳細は本ページよりお申込み後、担当者よりご連絡させていただきます。"
          }, {
            "iD":"faqFollow",
            "Q": "紹介顧客への請求・フォローのフローはどうなりますか",
            "A": "紹介顧客様からのお申込み後は、請求からサービスの保守・メンテナンスまで全て弊社が行います。"
          }, {
            "iD":"faqFlow",
            "Q": "お申込みをしてから、どのぐらいで販売開始できますか",
            "A": "約1か月を見込んでおります。"
          },
        ]
      },
      "News": [
        {
          "tag": "お知らせ",
          "date": "2017-02-01",
          "text": "SMILE CALL （スマイルコール）オフィシャルサイトをリニューアル。",
          "img": "../_assets/images/smilecall-logo-2by1.png",
          "link": ""
        }, {
          "tag": "お知らせ",
          "date": "2017-01-31",
          "text": "「株式会社福屋」の事例を掲載いたしました。",
          "img": "../_assets/images/main-index-news-fukuya.jpg",
          "link": "example11.html"
        }, {
          "tag": "リリース",
          "date": "2017-01-04",
          "text": "株式会社メディカル・コンシェルジュと販売代理店契約を締結。",
          "img": "../_assets/images/main-index-news-medical.jpg",
          "link": ""
        }, {
          "tag": "お知らせ",
          "date": "2016-12-27",
          "text": "「オリックスレンタカー札幌駅前店」の事例を掲載いたしました。",
          "img": "../_assets/images/main-index-news-orix.jpg",
          "link": "example10.html"
        },
      ]
    },
  };