.agreement
  h3.section_header 第１章 総則
  dl
    dt 第１条（規約の適用）
    dd 本利用規約（以下「本規約」）は、株式会社インデンコンサルティング（以下「当社」）が提供する「SMILE CALL（スマイルコール）」（以下「本サービス」）において契約者が遵守しなければならない事項を定めるものです。契約者は本規約に従い本サービスを利用していただきます。また、オンライン上の表示その他、当社が適当と判断する方法により、随時契約者に対して通知される諸規約は、本規約の一部を構成するものとし、契約者はこれを承諾するものとします。
    dt 第２条（用語の定義）
    dd
      ol
        li 本規約において、次の用語はそれぞれ次の意味で使用します。
          ul
            li （１）「契約者」とは、当社所定の方法によりライセンス購入を申込み、当社と本サービス利用契約を締結した法人をいいます。
            li （２）「利用者」とは、契約者のもと本サービスを実際に利用する法人をいいます。
            li （３）「対象話者」とは、利用者と共に本サービスを受動的に利用する個人、または法人をいいます。
            li （４）「当社ＷＥＢサイト」とは、本サービスに関する情報を提供しているインターネット上のオフィシャルサイトをいいます。
            li （５）「オペレーター」とは本サービスにおいて、利用者に対し通訳その他当社が規定する応対をする、当社の担当者をいいます。
            li （６）「本アプリ」とは、本サービスにおいて契約者が利用する「スマイルコールアプリ」をいいます。
            li （７）「端末」とは、本サービスにおいて契約者が利用する多機能情報端末をいいます。
            li （８）「個人情報」とは、本サービスへの申込など登録情報または本サービスの提供に関連して当社が知り得た契約者の情報をいいます。
  h3.section_header 第２章 利用契約
  dl
    dt 第３条（利用申込）
    dd
      ol
        li １．本サービス利用の申込は、申込者（以下「契約者」）が当社所定の申込方法に必要事項を記入し、当社に提出するものとします。
        li ２．本サービスの利用契約の締結資格を有する契約者は、本サービスをその事業のために利用する事業者に限られます。
    dt 第４条（契約成立）
    dd
      ol
        li １．第３条の申込が成され、当社が承諾することにより契約が成立するものとします。
        li ２．前項の申込に対して、第２２条に定める方法で当社が契約者へ行う通知が完了した時点で当社の承諾があったものとします。
        li ３．当社は当社所定の手続きに則り、申込に対して審査を行います。審査の結果、以下の各号いずれかに該当する場合、申込をお断りする場合があります。
          ul
            li （１）当社所定の申込方法に従わない場合
            li （２）申込の際の申告事項に、虚偽の記載、誤記、または記入漏れがあることが判明した場合
            li （３）登録したメールアドレス等の連絡先に、当社からの通知が到達しなかったことが判明した場合
            li （４）本サービスの提供にあたり、業務上または技術上の問題が生じる、または生じる恐れのある場合
            li （５）過去に本規約の違反等がある場合
            li （６）法令により禁止されている行為もしくは公序良俗に反する行為を行い、または第三者にこれを行わせるおそれがある場合
            li （７）契約者が反社会的勢力である場合、または反社会的勢力に関与しているおそれがある場合
            li （８）その他当社が不適当と判断した場合
        li ４．利用契約締結後であっても、契約者が上記各号のいずれかに該当する場合は、当社の判断により、本契約を解除する場合があります。その際、当社は契約解除によって発生した損害を一切賠償しないことを契約者は承諾するものとします。
        li ５．本サービスの利用は、第２項の通知に記載するサービス開始日（以下「サービス開始日」）をもって開始されるものとします。
    dt 第５条（契約内容の変更）
    dd 契約者は、登録情報に変更が生じた場合、速やかに当社所定の書式によりその旨を当社に通知するものとします。
  h3.section_header 第３章 サービス
  dl
    dt 第６条（サービス内容）
    dd
      ol
        li １．本サービス内容は、以下の通りとします。
          ul
            li （１）本サービスの提供時間は、当社ＷＥＢサイトに記載する通りとします。
            li （２）本サービスは利用者および対象話者が本アプリを使用し、当社が提供する言語の範囲において、３者通話を行うことを基本とします。オペレーターは日本語を外国語に、外国語を日本語に通訳して利用者および対象話者に伝え、それに付随するサポートを行うものとします。
            li （３）前項「通訳」のレベルは、一般に日常会話として行われる程度のものとし、難解な専門用語を含む内容、事前知識がないと把握が容易でない内容などに関する通訳は対応しないものとします。
            li （４）前々項「サポート」とは、当社が予め用意している情報、およびオペレーターがインターネット検索等により取得できる情報の提供に限り、契約者又は利用者がこの情報を用いて行う一切の行為に関して、当社は何ら責任を負うものではありません。
            li （５）本サービスは回数無制限で利用できますが、１回の通話時間は１５分を上限とし、接続したままでの使用はできません。
            li （６）通訳内容や通話時間が本サービスに適するものかどうかの判断は当社が決定するものとします。
            li （７）同時間にアプリの使用が集中すると、つながりにくい状況が発生する可能性もあることをご了承下さい。
            li （８）その他本サービスの詳細は、当社ＷＥＢサイトに記載する通りとします。
        li ２．当社は、当社の責任と負担により善良なる管理者の注意をもって、本サービスを維持・運営するものとし、契約者に対し、本サービスの利用期間中、以下の条件の範囲で、本サービスを本規約に記載の目的および方法で使用する譲渡不能な非独占的使用権を許諾するものとします。
          ul
            li （１）本サービスは、１つの契約に対し、１つのサービスライセンスを契約者に許諾し、１ライセンスにおいて複数の端末を同時に使用出来ないものとします。
            li （２）契約者は、当社より提供されたサービスを当社に事前の承諾なしに第三者に譲渡、貸与、または担保供与などしてはならないものとします。
        li ３．本サービスの対象外の事項について、契約者が当社に一時的にサービスの提供を求める場合、その提供条件について両者で別途協議し、両者の書面による合意をもって実施するものとします。
    dt 第７条（サービスの利用環境）
    dd
      ol
        li １．本サービスは本アプリをインストールした端末でのみ利用できるものとします。
        li ２．契約者は、自己の責任において、端末および本アプリを利用可能であるものとし、また本サービスの利用環境として当社が定義しＷＥＢサイトに掲載する要件をみたすものとします。
        li ３．本サービスは契約者又は利用者が自らの費用で準備したインターネット接続回線及び端末に対して、当社がインターネット経由でサービス提供するものです。従って、以下の各号に該当する事項は本サービスの対象外であり、当社はいかなる責任も負わないものとします。
          ul
            li （１）本サービスを利用するために必要なインターネット回線及び接続端末の保持・管理
            li （２）以下の各事由による本サービスの中断・障害からの復旧
              ol
                li ・前号の端末や回線などの機器・設備
                li ・利用者の不適切な使用、その他契約者又は利用者の責に帰すべき事由に起因する中断・障害
                li ・第三者の故意または過失に起因する中断・障害
                li ・停電、火災、地震、労働争議等の契約者、当社いずれの責にも帰しがたい事由に起因する中断・障害
    dt 第８条（サービス内容の変更）
    dd
      ol
        li １．本サービスの範囲及びその機能仕様は、当社が一定の予告期間をもって契約者の了承を得ることなく変更することができるものとし、契約者はこれを承諾するものとします。この予告は第２２条の方法により通知するものとします。
        li ２．本サービスの対象外の事項に起因して、または契約者の希望により、当社が以下の各号に定める行為を実施し、サービスの内容を恒久的に変更する必要がある場合、これに要する費用は契約者の負担とし、進行に関する要件は当社の定義に基づくものとします。
          ul
            li （１）本サービスの範囲及びその機能仕様の変更
            li （２）本サービスに関する維持・運用内容の変更
    dt 第９条（サービスの提供中断）
    dd
      ol
        li １．当社は、本サービス用設備等の定期メンテナンス、ヴァージョンアップを含むアプリケーションのメンテナンスを当社の裁量のもと定義し、これらのために事前通知の上、本サービスの提供を中断することができるものとします。
        li ２．次の各号のいずれかに該当する場合には、契約者への事前通知又は承諾を要することなく、本サービスの提供を中断することができるものとします。
          ul
            li （１）本サービス用設備等の故障により保守を行う場合
            li （２）運用上又は技術上の理由でやむを得ない場合
            li （３）その他天災地変等不可抗力により本サービスを提供できない場合
    dt 第１０条（サービスの提供の拒否）
    dd
      ol
        li １．利用者が本サービスを利用するにあたり次の各号に定める場合においては、本サービスの提供を拒否することができるものとします。但し、この件に関して契約者は当社に対していかなる損害賠償請求もできないものとします。
          ul
            li （１）通信機器の故障・不具合、または電話事業者側の技術的問題によりあるいは電波受信状況など発信者の責めに帰すべきではない理由によって通話が切断された場合、あるいは通話することが不可能な通信状況となった場合。
            li （２）オペレーターの通信回線が全線通話中の為、通話が不可能な場合
        li ２．当社は、利用者が次の各号に相当すると判断される場合、利用者に対してその是正を求めることができ、利用者が是正しない場合、利用者に対し直ちに本サービスの利用を拒否することができるものとします。但し、当社は、この件に関して契約者は当社に対していかなる損害賠償請求もできないものとします。
          ul
            li （１）利用者が条約、法令、条例、通達などによって通信の利用が禁止、および制限されている場所から通訳サービスの提供を求めた場合。
            li （２）利用者が条約、法令、条例、通達などによって第三者との会話が禁止、および制限されている場所から通訳サービスの提供を求めた場合。
            li （３）犯罪に該当するおそれがあると判断される場合、および犯罪行為を誘発する可能性がある場合。
            li （４）条約、法令、通達などに違反する、および違反するおそれがある場合。
            li （５）不公正な競争となる、およびそのおそれがある場合。
            li （６）わいせつ、賭博、暴力等、公序良俗に反するおよびそのおそれがある場合。
            li （７）不適切な表現を含む、およびそのおそれがある場合。
            li （８）性別、民族、人種等による差別を助長する、およびそのおそれがある場合。
            li （９）個人、法人を問わず他人の著作権その他の権利を侵害するおよびそのおそれがある場合。
            li （１０）個人、法人を問わず他人の名誉またや信用を毀損、誹謗中傷する行為、およびそのおそれがある場合。
            li （１１）問題に関わり、利用者及び第三者に被害が及ぶおそれがある場合。
            li （１２）利用者及び第三者の重大な生命の危険に関わる、およびそのおそれがある場合。
            li （１３）金銭、金銭保証における代理の依頼など、利用者及び第三者に多大な損害が発生するおそれがある場合。
            li （１４）利用者が会話を継続できる状態でないとオペレーターが判断した場合（酩酊状態、興奮状態）
    dt 第１１条（サービスの利用停止）
    dd
      ol
        li １．当社は、契約者が次のいずれかに該当する場合には、何らの責任も負うことなく、その契約者による本サービスの全部または一部の利用を停止することができるものとします。
          ul
            li （１）契約者が契約に関して当社に虚偽の事項を通知したことが判明した場合。
            li （２）支払期日を経過してもなお利用料金が支払われない場合。
            li （３）破産手続き開始または再生手続き開始の申立てがあった場合。
            li （４）当社の本サービス端末に、正当な事由もなく長時間の電話をしたり、同様の繰り返し電話を過度に行ったり、または不当な義務を強要したり、威嚇等をもって嫌がらせ、恐喝もしくは脅迫に類する行為をしたりすることで、当社の業務に著しく支障をきたした場合。
            li （５）申込時に申請した利用目的に沿わない利用があった場合
            li （６）前各号のほか本規約上の義務を現に怠りまたは怠るおそれがある場合。
        li ２．当社は、前項の規定により本サービスの利用停止をするときは、あらかじめその理由、利用停止をする日および期間または停止を解除する条件を契約者に通知します。ただし、緊急でやむを得ない事情がある場合は、当社はこの責を負わないものとします。
        li ３．前２項の場合において、その利用中に係わる契約者の一切の債務は、本サービスの利用停止があった後においてもその債務が履行されるまで消滅しないものとします。
  h3.section_header 第４章 契約期間
  dl
    dt 第１２条（利用期間）
    dd
      ol
        li １．本サービスの利用期間は、契約者の同意のもと別途定めるものとし、以下の方法により計算します。
          ul
            li （１）第３条に定める申込による契約成立以降、別途準備期間を設け、実際にサービスの提供を開始した日（サービス開始日）を起算日として、１ヶ月間を料金の請求単位（以下「料金月」とします。）として計算します。
            li （２）料金月１２ヶ月分を１年間とします。
        li ２．本サービスの利用期間は、契約者が第１項の期間満了の３ヶ月前までに本サービス利用の解約を申出ない限り、同一条件をもって１年間引き続き更新されるものとし、以降も同じとします。
        li ３．前項の更新が行われた場合、利用期間の満了日も当然に更新され、本期間の終了に関わる措置は更新された日を基準とします。
        li ４．本契約期間終了時の措置については第８章解約に従います。
  h3.section_header 第５章 料金
  dl
    dt 第１３条（料金）
    dd
      ol
        li １．本サービスの利用料金は、契約時の「初期設定費」、および毎月の本サービスの「月額利用料」の合計額に消費税を加えた額とします。尚、金額については「当社ＷＥＢサイト」に記載の通りとします。
        li ２．本サービスの利用料金は、当社の都合により変更できるものとし、変更がなされる場合には、当社は第２２条に指定する方法に従い、契約者に対して速やかに通知するものとします。
    dt 第１４条（料金の計算方法）
    dd
      ol
        li １．初期設定費とは、サービス開始時、契約者に対し利用アカウントを発行する対価です。
        li ２．月額利用料とは、サービス開始以降、契約者が利用アカウントを使用して本サービスの提供を受ける対価です。
        li ３．月額利用料は、第１２条１項１号に定める利用月につき１回、当社は契約者に対し請求します。
        li ４．契約者が希望する場合、契約時又は更新時に契約者が希望し当社が認める場合、希望する期間分の金額を合計して支払うことができるものとします。
        li ５．その他利用月に対し前払いであり、契約者が希望し当社が認める場合、個別に複数利用月の月額利用料の合計金額を支払うことができるものとします。
  h3.section_header 第６章 支払い
  dl
    dt 第１５条（料金の支払い）
    dd
      ol
        li １．本サービスの契約時において、契約者は当社指定の方法でサービス開始日までに、所定の料金を支払うものとします。
        li ２．利用料金の支払いに関しては、利用月に対し前払いとし、当社が発行する請求書に基づき支払うものとします。
        li ３．契約者は次項の支払い方法により、定める期日までに支払いを完了するものとします。期日に支払いが確認出来ない場合、当社は、第１１条の規定に基づき、契約者に対しサービスの提供を停止することができるものとします。
        li ４．契約者は、次のいずれかの方法で、月額利用料を支払うものとします。ただし契約時の条件により、当社が支払方法を指定する場合、契約者はこれに従うものとします。
          ul
            li （１）自動引落…毎月１回別途定める日（金融機関休業日は翌営業日）月額利用料を引き落とします。振り込み手数料は弊社が負担します。
            li （２）銀行振込…毎月１０日（金融機関休業日は前営業日）までに月額利用料をお振込みください。振込手数料はご負担ください。
        li ５．これらの支払済みの料金は事由の如何を問わず、一切返金出来ません。
        li ６．支払期日が経過しても請求額の支払いがない場合、当社は支払期日の翌日から完済まで年率６％の支払遅延利息を、契約者に請求できるものとします。
        li ７．当社から契約者に、事実と異なる請求がなされた場合、その支払請求を訂正のため契約者が当社に返付した日から訂正された支払請求書を契約者が受理した日までの期間は、契約者の支払約定期間に算入しないものとします。
        li ８．当社は、本サービスの利用料金について領収書は発行しないものとします。
  h3.section_header 第７章 契約者の義務
  dl
    dt 第１６条（利用環境の維持責任）
    dd
      ol
        li １．契約者及び利用者は、本サービスの利用に支障をきたさないように、契約者通信回線及び利用端末を正常に稼動するように整備し、第７条に定義する環境を維持するものとします。
        li ２．契約者は、利用者に対し、本規約に違反する、およびそのおそれのある行為を抑止する責を負うものとします。
    dt 第１７条（ライセンスの管理責任）
    dd
      ol
        li １．契約者は、本サービスの利用に必要となるライセンスＩＤ、パスワード等を当社から提供されるものとします。契約者は、これを契約者の責任で管理し、契約者及び利用者以外の第三者に開示・提供しないものとします。
        li ２．当社の故意または過失によらないライセンスＩＤ、パスワード等の漏洩、または使用上の誤りにより損害が生じても、当社は一切責任を負わないものとします。
        li ３．契約者は、前項により当社に損害が生じた場合は、これによって生じた一切の損害を当社に賠償する責を負うものとします。
    dt 第１８条（端末の管理責任）
    dd 契約者の端末が紛失、破損などして本アプリ及び本アプリが必要とする機能が利用できなくなった場合、契約者は速やかに当社に通知するものとします。契約者が代替端末を用意し、当社に本アプリの再ダウンロード手配を受ける準備が整えば、当社はこれを無償で提供するものとします。但しこの場合、契約時にダウンロードした本アプリによる通信はできなくなります。
  h3.section_header 第８章 解約
  dl
    dt 第１９条（解約手続き）
    dd
      ol
        li １．契約者は当社に対し、当社指定の書式に必要事項を記入し、契約の解約を申込むものとします。
        li ２．前項の解約の申込が契約期間満了の３ヶ月前までにあった場合、以降の契約更新は行わず契約期間の満了日をもって契約終了とします。
        li ３．利用期間の残余期間に関わらず、契約者の事情により契約期間の途中で即時解約する場合、解約を希望する日から契約期間の満了日までの「残利用月数分の月額利用料の合計額」を、期日までに一括で支払うことにより、解約できるものとします。
        li ４．理由の如何に依らず、利用申込み以降サービス開始日までの期間に申し込まれた解約においても前項と同様とします。
    dt 第２０条（当社による契約の解除）
    dd
      ol
        li １．当社は、第１１条の規定により本サービスの利用停止を受けた契約者が、当社から期間を定めた催告を受けたにもかかわらず、なおその事由が解消されない場合には、当社所定の方法により通知することにより、その契約を解除することができるものとします。
        li ２．当社は、契約者が第１１条第１項の事由に該当し、当社の業務の遂行に支障があると当社が判断した場合、当社所定の方法により通知することにより、直ちに契約を解除することができるものとします。
        li ３．前項の規定により契約が解除された場合、契約者は、本サービスの利用に係わる一切の債務につき当然に期限の利益を喪失し、残存債務の全額および損害賠償等により清算されるべき金額を直ちに支払うものとします。
        li ４．本条による契約の解除において、契約者は、当社が契約の解除を指定する日から契約期間の満了日までの「残利用月数分の月額利用料の合計額」を、期日までに一括で支払うものとします。本項の取り決めは前項の効力を妨げるものではありません。
    dt 第２１条（本サービス終了時の措置）
    dd
      ol
        li １．解約により本サービスの利用を終了した場合、解約日の翌日から契約者は本サービスを一切使用できないものとします。
        li ２．契約が終了した場合、第１２条２項に定める解約日を経過してなお本サービスに登録されているデータ等は全て当社の責任において削除できるものとします。
        li ３．第２０条の事由により契約が解除された場合、契約者は第２０条の定めに従うものとします。
  h3.section_header 第９章 その他
  dl
    dt 第２２条（通知）
    dd 本規約に基づく契約者、当社間の通知は、以下各号の方法で行います。
      ol
        li
          ul
            li （１）相手方が予め申込方法で指定した電子メールアドレス宛に電子メールを送信して行います。この場合は、相手方が電子メールアドレスを管理するサーバに電子メールが正常に到達し、相手方が受信した時をもって通知が完了したものとみなします。
            li （２）当社が本サービスを変更する場合は、電子メールで契約者のサービス管理担当者へ通知する他、当社ＷＥＢサイトに掲載することにより、通知したものとみなします。
    dt 第２３条（機密情報）
    dd
      ol
        li １．契約者および当社は、本サービスの利用により知り得た相手方の販売上、技術上またはその他の業務上の秘密（本契約の内容、本サービスの機能仕様の内容等を含む）を本サービス利用のためにのみ使用するものとし、相手方の承諾なしに第三者に公表しまたは漏洩しないものとします。ただし、法令により情報の開示を求められた場合は、相手方に書面による通知のうえ、開示することができるものとします。
        li ２．以下各号の情報は本条の秘密に該当しないものとします。
          ul
            li （１）既に公知の情報および開示後受領者の責めによらず公知となった情報
            li （２）本サービスにより知り得た情報に依存せずに独自に開発・発見した情報
            li （３）正当な権利を有する第三者から秘密保持義務を負うことなく適法に入手した情報
    dt 第２４条（個人情報の保護）
    dd 本サービス契約、運営のために当社が取得した契約者の個人情報は、当社の責任と負担により善良なる管理者の注意をもって、取り扱いいたします。
    dt 第２５条（事例）
    dd 当社は、契約者が本サービスを利用した結果や感想を導入事例等より機密情報を除き、当社ＷＥＢサイトに事例として紹介できるものとします。
    dt 第２６条（譲渡禁止）
    dd 契約者および当社は、相手方の書面による事前承諾を得ることなく、契約上の地位、権利または義務の全部または一部を第三者に貸与し、譲渡しまたは担保提供等してはなりません。
    dt 第２７条（損害賠償）
    dd
      ol
        li １．契約者又は利用者が、本規約の違反により当社に損害を与えた場合、当該契約者又は利用者は、直接かつ現実に生じた損害を賠償する責めを負うものとします。
        li ２．契約者又は利用者が、本サービスの利用により第三者に対し損害を与えた場合又は第三者からクレーム等の請求がなされた場合、当該契約者又は利用者は、当社の責に帰すべき事由による場合を除き、自己の責任でこれを解決し、当社にいかなる責任も負担させないものとします。
        li ３．当社は、第８条による本サービスの全部もしくは一部の変更、追加または廃止につき、何ら責任を負担しないものとします。
        li ４．当社は、本規約に特別の規約がある場合および当社が故意又は重過失である場合を除き、本サービスの利用により生じる結果について、契約者その他いかなる者に対しても、本サービスの不具合・故障、第三者による本サービスへの侵入、商取引上の紛争、その他の原因を問わず、責任を負担しないものとします。
        li ５．本サービスによって提供される通訳の内容が、一般通常人において判断される会話内容の通訳として適切と判断されるものである場合には、利用者が通訳サービスにより損害を被った場合でも、当社及び当社のオペレーターが損害賠償責任を負うことはないものとします。
        li ６．当社が契約者に対し損害賠償責任を負う場合、当社が負担する賠償金の金額は、直接かつ現実に生じた損害を賠償するものとし、損害が生じた月に契約者が当社に支払った本サービスの月額利用料を上限とします。
    dt 第２８条（規約の変更）
    dd
      ol
        li １．当社は、本規約を変更することができるものとし、契約者はこれを承諾するものとします。この変更は第２２条に定める方法により通知されるものとします。この場合には料金その他の提供内容および提供条件は変更後の最新の規約によります。
        li ２．前項の変更を行う場合は、一定の予告期間をおいて、変更後の利用規約の内容を契約者に通知するものとします。
    dt 第２９条（紛争の解決）
    dd
      ol
        li １．契約に関する紛争は京都地方裁判所を第一審の専属管轄裁判所とします。
        li ２．契約に関する準拠法は、日本国法とします。
    dt 第３０条（信義誠実義務）
    dd 本規約に定めのない事項について紛議等が生じた場合、双方誠意をもって協議し、できる限り円満に解決するものとします。
    dd
      p.has-text-right 制定　２０１１年１１月１０日
        br 
        | 改定　２０１１年１２月　２日
        br
        | 改定　２０１２年　２月　１日
        br
        | 改定　２０１３年１１月　１日
        br
        | 改定　２０１５年　１月１６日
        br
