//- Include Data
include ./_data.pug
//- Basic Configuration
- var date = new Date()
- var year = date.getFullYear()
- var phold = '//placehold.it/'

if (lang === "en")
  - var content = data.en
else if (lang === "ko")
  - var content = data.ko
else if (lang === "zh-cn")
  - var content = data.zh_cn
else if (lang === "zh-tw")
  - var content = data.zh_tw
else
  - var content = data.ja

//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'
  - var imgDir = baseUrl+'../_assets/images/'
  - var active = 0
  - var partners = false


doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='ja_JP'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='ja_JP'>
<!--<![endif]-->

head(prefix=ogprefix)
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')
  //- meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0')
  //- meta(name='viewport', content='width=768, user-scalable=1')
  block htmlhead
    meta(name='description', content=description)
    title= title
  block opengraph
  block stylesheets
    link(href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet')
    link(rel='stylesheet', href= baseUrl + '_assets/css/index.css')
  include ../html_modules/__htmlhead-for-ie.html
body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  //- include ../html_modules/__google-tag-manager.html

  if partners 
    - var pages = content.partners.navs
    - var contacts = content.PContacts
  else
    - var pages = content.Pages 
    - var contacts = content.Contacts 

  block nav
    - var link = ['#Access','https://www.inden.ne.jp/recruit/recruit-maruhide.html','#LineUp','#Greeting']
    nav.page-nav
      .brand.is-relative.is-desktop
        .is-fixed
          ul.is-absolute
            for obj, i in link
              li
                a(href=obj)
                  img.pure-img(src=imgDir+'MaruhideMenuButton'+(link.length-i)+'.png')
          img.pure-img(src=imgDir+'MaruhideMenu.png')
      .brand.is-relative.is-mobile
        .is-fixed
          ul.is-absolute
            for obj, i in link
              li
                a(href=obj)
                  img.pure-img(src=imgDir+'sp/'+'MaruhideMenuButton'+(link.length-i)+'.png')
          img.pure-img(src=imgDir+'sp/'+'MaruhideMenu.png')

  block header
    header
      .is-desktop
        img.pure-img(src=imgDir+'MaruhideTop.jpg')
      .is-mobile
        img.pure-img(src=imgDir+'sp/'+'MaruhideTop.jpg')

  block main
    main
      //- for obj, i in [{id:'Closed',img:'MaruhideClosed.jpg'},{id:'Greeting',img:'MaruhideGreeting.png'},{id:'LineUp',img:'MaruhideLineUp.jpg'}]
      for obj, i in [{id:'Greeting',img:'MaruhideGreeting.jpg'},{id:'LineUp',img:'MaruhideLineUp.jpg'},{id:'Photo',img:'MaruhidePhoto.jpg'}]
        div(id=obj.id)
          .is-desktop
            img.pure-img(src=imgDir+obj.img)
          .is-mobile
            img.pure-img(src=imgDir+'sp/'+obj.img)

      #Access.bg-texture
        .google-map-container.is-relative(id='')
          .iframe-container.is-absolute
            //- .iframe
            <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.2525888121204!2d135.94577361471775!3d35.0003816746176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001727bc2803405%3A0x28aaa8d8be17b5ba!2z44CSNTI1LTAwNTkg5ruL6LOA55yM6I2J5rSl5biC6YeO6Lev77yS5LiB55uu77yU4oiS77yR!5e0!3m2!1sja!2sjp!4v1486276330828" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          .is-desktop.is-absolute
            img.pure-img(src=imgDir+'MaruhideAccess.png')
          .is-mobile.is-absolute
            img.pure-img(src=imgDir+'sp/'+'MaruhideAccess.png')
      .bg-texture
        section.sns-plugin.is-relative
          .pure-g
            .pure-u-1-1.pure-u-sm-1-2
              .fb-plugin
                .iframe-container
                  .iframe
                    <iframe class="fb-page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmaruhide.shoten&tabs=timeline&small_header=false&width=276&height=600&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=861185890591655" style="border:none;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            .pure-u-1-1.pure-u-sm-1-2
              .tw-plugin
                .iframe-container
                  .iframe
                    a.twitter-timeline(href="https://twitter.com/maruhide_shoten") Tweets by maruhide_shoten
                    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
            .pure-u-1-1
              .insta-plugin
                .insta-logo
                  a(href='https://www.instagram.com/maruhide.shoten/') 
                    img(src=imgDir+'instagram-logo-001-2.png' height='30vw')
                    //- | #maruhide.shoten
                .iframe-container
                  <iframe src="https://snapwidget.com/embed/364024" class="iframe  snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; background:transparent;"></iframe>

  block footer
    footer
      .is-desktop
        img.pure-img(src=imgDir+'MaruhideFooter.png')
      .is-mobile
        img.pure-img(src=imgDir+'sp/'+'MaruhideFooter.png')

  block scripts
    script(src='//code.jquery.com/jquery-3.1.1.min.js')
    script(src= baseUrl + '_assets/js/index.js')

